<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">DevOps - Git - Travis - Heroku.</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/banner-social-media.gif" alt="Blcsilva">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Projeto treinamento Devops - Essentials 4Linux Brasil</p>
			
			<div class="devops-path path">
				<h1>DevOps</h1>
				<a href="https://www.4linux.com.br/curso/devops-gratis" class="devops-course course">
					<h2>4523 - Devops Essentials</h2>
				</a>
				<h2>Deploy em Heroku com Travis-CI e Github</h2>
				</a>
			</div>
			<div class="devops-path path">
				<h1>Github - DevOpsLab-HelloWorld</h1>
				<a href="https://github.com/blcsilva/DevOpsLab-HelloWorld" class="devops-course course">
					<h2>Repositório - Devops Essentials</h2>
				</a>
				<h2>Deploy em Heroku com Travis-CI e Github</h2>
				</a>
			</div>
			
			</div>
			
		</div>
	</div>

</body>

</html>
